In [26]:
#pip install PyAudio

Collecting PyAudio
  Downloading PyAudio-0.2.12-cp39-cp39-win_amd64.whl (163 kB)
Installing collected packages: PyAudio
Successfully installed PyAudio-0.2.12
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.1.2; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\Administrador\anaconda3\python.exe -m pip install --upgrade pip' command.

In [95]:
import speech_recognition as sr

In [96]:
file = sr.AudioFile('Maduracion.wav')

In [97]:
r=sr.Recognizer()

harvad=sr.AudioFile('Maduracion.wav')
with harvad as source:
    audio=r.record(source)
val=r.recognize_google(audio, key=None, language='es-ES', show_all=False)
print(val,end='\n')

fruta uno tamaño 9 Traducir 0.25 frutados tamaño 4 Traducir 0.5 fruta 3 tamaño 5 traslucidez 0 fruta 4 tamaño 5 traducí es 0.75 frutas 6 tamaño 8 traslucidez uno su ruta 7 tamaño 4 traducí es una fruta 8 tamaño 8 Traducir 1.25 fruta 9 tamaño 9 traducidas 1 fruta 10 tamaño 9 traslucidez 0.75 su ruta 11 tamaño 8 traducidas 0 fruta 12 tamaño 5 traslúcidas 0 fruta 13 tamaño 8 traslucidez 0 fruta 14 tamaño siete Traducir 0.25 fruta 15 tamaño 4 traducida 0 fruta dice 6 tamaño 7 Traducir 0.5

In [98]:
#transform in the text in df
import pandas as pd

In [99]:
df = pd.DataFrame([val], columns=['text'])

In [100]:
df.head()

                                                text
0  fruta uno tamaño 9 Traducir 0.25 frutados tama...

In [101]:
import re

In [102]:
df['fruta'] = df['text'].str.extract(r'(\d+)', expand=False)

In [103]:
def limpiar_tokenizar(texto):
    '''
    Esta función limpia y tokeniza el texto en palabras individuales.
    El orden en el que se va limpiando el texto no es arbitrario.
    El listado de signos de puntuación se ha obtenido de: print(string.punctuation)
    y re.escape(string.punctuation)
    '''
    
    # Se convierte todo el texto a minúsculas
    #print(texto)
    nuevo_texto = texto.lower()

    # Eliminación de signos de puntuación
    regex = '[\\!\\"\\#\\$\\%\\&\\\'\\(\\)\\*\\+\\,\\-\\ñ\\/\\:\\;\\<\\=\\>\\?\\@\\[\\\\\\]\\^_\\í\\\\ó\\\\á\\\\é\\\\ú\\\\`\\{\\|\\}\\~]'
    nuevo_texto = re.sub(regex , ' ', nuevo_texto)
    # cambio de palabras "uno" y "un" por "1"
    nuevo_texto = re.sub('uno', '1', nuevo_texto)
    # cambio de palabras "dos" y "dos" por "2"
    nuevo_texto = re.sub('dos', '2', nuevo_texto)
    # cambio de palabras "tres" y "tres" por "3"
    nuevo_texto = re.sub('tres', '3', nuevo_texto)
    # cambio de palabras "cuatro" y "cuatro" por "4"
    nuevo_texto = re.sub('cuatro', '4', nuevo_texto)
    # cambio de palabras "cinco" y "cinco" por "5"
    nuevo_texto = re.sub('cinco', '5', nuevo_texto)
    # cambio de palabras "seis" y "seis" por "6"
    nuevo_texto = re.sub('seis', '6', nuevo_texto)
    # cambio de palabras "siete" y "siete" por "7"
    nuevo_texto = re.sub('siete', '7', nuevo_texto)
    # cambio de palabras "ocho" y "ocho" por "8"
    nuevo_texto = re.sub('ocho', '8', nuevo_texto)
    # cambio de palabras "nueve" y "nueve" por "9"
    nuevo_texto = re.sub('nueve', '9', nuevo_texto)
    # cambio de palabras "diez" y "diez" por "10"
    nuevo_texto = re.sub('diez', '10', nuevo_texto)
    # cambio de palabras "once" y "once" por "11"
    nuevo_texto = re.sub('once', '11', nuevo_texto)
    # cambio de palabras "doce" y "doce" por "12"
    nuevo_texto = re.sub('doce', '12', nuevo_texto)
    # cambio de palabras "trece" y "trece" por "13"
    nuevo_texto = re.sub('trece', '13', nuevo_texto)
    # cambio de palabras "catorce" y "catorce" por "14"
    nuevo_texto = re.sub('catorce', '14', nuevo_texto)
    # cambio de palabras "quince" y "quince" por "15" 
    nuevo_texto = re.sub('quince', '15', nuevo_texto)
    # cambio de palabras "dieciséis" y "dieciséis" por "16"
    nuevo_texto = re.sub('dieciséis', '16', nuevo_texto)
    #nuevo_texto = re.sub("\d+", ' ', nuevo_texto)
    # Eliminación de espacios en blanco múltiples
    nuevo_texto = re.sub("\\s+", ' ', nuevo_texto)
    # Eliminación de las letras
    nuevo_texto = re.sub('[a-z]', '', nuevo_texto)
    # Tokenización por palabras individuales
    nuevo_texto = nuevo_texto.split(sep = ' ')
    # Eliminación de palabras vacías
    nuevo_texto = [palabra for palabra in nuevo_texto if palabra != '']
    # add the words to one column in a df
    #print(pd.DataFrame(nuevo_texto))
    return pd.DataFrame(nuevo_texto, columns=['fruta'], index=None)

test = "sticker omitido1.25ñ"
print(test)
print(limpiar_tokenizar(texto=test))

sticker omitido1.25ñ
  fruta
0  1.25

In [104]:
df = limpiar_tokenizar(texto=df['text'][0])

In [110]:
df.tail(43)

   fruta
1      9
2   0.25
3      2
4      4
5    0.5
6      3
7      5
8      0
9      4
10     5
11  0.75
12     6
13     8
14     1
15     7
16     4
17     8
18     8
19  1.25
20     9
21     9
22     1
23    10
24     9
25  0.75
26    11
27     8
28     0
29    12
30     5
31     0
32    13
33     8
34     0
35    14
36     7
37  0.25
38    15
39     4
40     0
41     6
42     7
43   0.5

In [107]:
#create a for loop to get the number of the fruit 0 -3- 6
for i in range(0, len(df), 3):
    print(df['fruta'][i])

1
2
3
4
6
7
8
9
9
8
5
8
7
4
7